/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
/* endzeit_____ */
.m1-form input.field:focus::-webkit-input-placeholder {opacity:0;}
.m1-form input.field:focus::-moz-placeholder          {opacity:0;}
.m1-form input.field:focus:-moz-placeholder           {opacity:0;}
.m1-form input.field:focus:-ms-input-placeholder      {opacity:0;}
.m1-form input.field::-webkit-input-placeholder {color: #5a5a5a; opacity: 1;}
.m1-form input.field:-moz-placeholder {color: #5a5a5a; opacity: 1;}
.m1-form input.field::-moz-placeholder {color: #5a5a5a; opacity: 1;}
.m1-form input.field:-ms-input-placeholder {color: #5a5a5a; opacity: 1;}
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}

html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{font-family: 'Open Sans', sans-serif; font-weight: 700; text-transform: uppercase;text-align: center;line-height: 1.2;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
    background: #fff;
}
.wrap {
    width: 480px;
    padding: 0;
    margin: 0 auto;
    background: #fff;
}
section, footer {
    width: 100%;
    position: relative;
}
.wrap:after {
    clear: both;
    content: "";
    display: table;
}
section:after, footer:after {
    clear: both;
    content: "";
    display: table;
}
.m1-form input.field {
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    height: 74px;
    line-height: 68px;
    margin: 0 auto 20px;
    padding: 0 20px;
    background:#fff;
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}

.m1-form select {
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    height: 74px;
    line-height: 68px;
    margin: 0 auto 20px;
    padding: 0 20px;
    background:#fff;
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}
.button-m {
    position: relative;
    display: block;
    width: 400px;
    height: 78px;
    line-height: 74px;
    margin: 15px auto;
    border: none;
    border-bottom:5px solid #4a2400;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;

    background: #7a4601; /* Old browsers */
    background: -moz-linear-gradient(top,  #7a4601 0%, #714100 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7a4601 0%,#714100 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7a4601 0%,#714100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a4601', endColorstr='#714100',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:inset 0 11px 14px 0 #955909;
    box-shadow:inset 0 11px 14px 0 #955909;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 6;
    text-shadow: 0 1px 2px #5c2d00;
}
.button-m:hover{

    background: #874d01; /* Old browsers */
    background: -moz-linear-gradient(top,  #874d01 0%, #7e4a00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #874d01 0%,#7e4a00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #874d01 0%,#7e4a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#874d01', endColorstr='#7e4a00',GradientType=0 ); /* IE6-9 */
}
.button-m:active{

    background: #774401; /* Old browsers */
    background: -moz-linear-gradient(top,  #774401 0%, #6e4000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #774401 0%,#6e4000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #774401 0%,#6e4000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#774401', endColorstr='#6e4000',GradientType=0 ); /* IE6-9 */
    top:1px;
}
.m1-form .button-m{
    width: 100%;
}
h2.title{
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.3em;
}
h2.title>span{
    color: #f058b1;
}
.price {
    width: 400px;
    margin: 390px auto 30px;
    text-align: center;
    height: 34px;
    background: url(price.png) no-repeat center center ;
}
.old-cost {
    text-decoration: line-through;
    float: left;
    color:#fff;
    font-size: 32px;
    line-height: 30px;
}
.new-cost {
    float: right;
    color:#fded01;
    font-size: 35px;
}
.old-cost, .new-cost {
    display: block;
    width: 50%;
    position: relative;
    font-weight: 700;
}
.old-cost small, .new-cost small {
    font-size: 0.75em;
    text-transform: uppercase;
}
